* {
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
}

#logo {
    height: 2.3rem;
    margin-left: 18rem;

}

.top a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 45rem;
    

}




.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: #292929;
    display: flex;
    
    align-items: center;

}

.mbody {
    max-width: 63%;
    margin: 3rem auto;
}

h1 {
    font-size: 1.8rem;

}

.nav {
    margin-top: 1.5rem;
}

.nav li {
    display: inline;
    margin-right: 0.5rem;

    font-size: 0.875rem;
}

.nav li a {
    text-decoration: none;
    color: #000099;
}

hr {
    margin: 0.5rem 0;
    border: 0.8px solid black;
}

.box1 {
    background-color: #8EF39A;
}

.box2 {
    background-color: #94B5EC;
}

.box3 {
    background-color: #FFD996;
}

.box4 {
    background-color: #FF9B96;
}

.boxcontainer {
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 48%;
    height: 300px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-sizing: border-box;
}
.boxcontainer li {
    margin: 19px 0 19px 50px;
}
.nav li a:hover{
    background-color: #EBEBEB;
}
#cbox{
    opacity:0;
    position: absolute;
    right: 20.3rem;
    height: 20px;
    width: 30px;
}
@media (max-width: 768px) {
    .box {
        width: 100%;
    }
}
    




